#Проигнорируйте файлы, находящиеся в подкаталоге tmp и файлы, заканчивающиеся суффиксами _old, _backup
*_backup
*_old
/tmp

#Добейтесь чтобы также были проигнорированы файлы Thumbs.db и .DS_Store
Thumbs.db
.DS_Store
